﻿@model IEnumerable<IDEIMusic.Models.Tag>

@{
    ViewBag.Title = "Manage Tags";
}

<h2>Tags</h2>

<p>
    @Html.ActionLink("Create New Tag", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TagID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TagID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TagID })
        </td>
    </tr>
}

</table>
