﻿@model IDEIMusic.Models.Artist

@{
    ViewBag.Title = "Delete Artist";
}

<h2>Delete Artist</h2>

<h3>Are you sure you want to delete this artist?</h3>
<fieldset>
    <legend>Artist</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div>
        <h4>Records</h4>
        @{
            List<IDEIMusic.Models.Record> records = ViewBag.records;

            if (records.Count > 0)
            {
                @:<table><tr>
                        <th>Album Title</th>
                        <th>Price</th>
                        <th>Format</th>
                        <th></th>
                        @:</tr>
                foreach (var record in records)
                {
                    @:<tr class="tableRow"><td>
                            @(record.Album.Title)
                            @:</td> <td>
                            @(record.Price)
                            @:</td><td>
                            @(record.RecordFormat)
                            @:</td></tr>


                }
                @: </table>
        }
            else
            {
                @:No Records on system
            }
        }
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
