﻿@model IDEIMusic.Models.Artist

@{
    ViewBag.Title = Model.Name;
}

<h2>Artist Information</h2>

<fieldset>
    <legend>Artist</legend>

    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <div>
        <h4>Records</h4>
        @{
            List<IDEIMusic.Models.Record> records = ViewBag.records;
            
        if (records.Count > 0)
        {
            @:<table><tr>
                <th>Album Title</th>
            <th>Price</th>
            <th>Format</th>
            <th></th>
            @:</tr>
                foreach (var record in records)
                {
                    @:<tr class="tableRow"><td>
                        @(record.Album.Title)
                    @:</td><td>
                        @(record.Price)
                    @:</td><td>
                        @(record.RecordFormat)
                    @:</td><td>
                        @Html.ActionLink("Edit Record", "Edit", "Record", new { id = record.RecordID}, null)
                    @:</td></tr>

                }
            @:</table>
        }
        else
        {
            @:No Records on system
            }
        }
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit Artist", "Edit", new { id = Model.ArtistID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
