﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - IDEIMusic</title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            @if (Request.IsAuthenticated)
                            {
                                if(User.IsInRole("ClientShop")) {
                                      <li>@Html.ActionLink("My Shop","MyShop","ClientShop")</li>
                                      <li><a href="~/IDEIMusicService.svc">WebService</a></li>
                                }
                                if (User.IsInRole("ProductManager")) {
                                <li>@Html.ActionLink("Manage Records","Index","Record")</li>
                                <li>@Html.ActionLink("Manage Albums","Index","Album")</li>
                                <li>@Html.ActionLink("Manage Artists","Index","Artist")</li>
                                <li>@Html.ActionLink("Manage Tags","Index","Tag")</li>
                                }
                                if (User.IsInRole("Admin")) {
                                    <li>@Html.ActionLink("Review Sales","Index","Sales")</li>    
                                }
                            }
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - IDEIMusic</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script type="text/javascript" src="~/Scripts/globalize.js"></script>
        <script type="text/javascript" src="~/Scripts/globalize.culture.fr-FR.js"></script>
        <script type="text/javascript">
            $.validator.methods.number = function (value, element) {
                return this.optional(element) || !isNaN(Globalize.parseFloat(value));
            }
            $(document).ready(function () {
                Globalize.culture('fr-FR');
            });
        </script>

    </body>
</html>
