﻿@model IDEIMusic.Models.Album

@{
    ViewBag.Title = "Add an album";
}

<h2>Add album</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Album</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Artist.Name, "Artist")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Artist.Name)
            @Html.ValidationMessageFor(model => model.Artist.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-field">
            <table>
                <tr>
                    @{
            int cnt = 0;
            List<IDEIMusic.ViewModels.AssignedTagsData> tags = ViewBag.Tags;

            foreach (var tag in tags)
            {
                if (cnt++ % 3 == 0)
                {
                    @: </tr> <tr>
                    }
                    @: <td>
                        <input type="checkbox"
                               name="selectedTags"
                               value="@tag.TagID"
                               @(Html.Raw(tag.Assigned ? "checked=\"checked\"" : "")) />
                        @tag.Text
                        @: </td>
                    }
                    @: </tr>
                    }
                </table>
            </div>





        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
