﻿@model IDEIMusic.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Album</legend>

    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Artist.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Artist.Name)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Title)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Tags)
        </div>
        <div class="display-field">
            <ul>
                @foreach (var t in Model.Tags)
                {
                <li>@t.Text</li>
                }
            </ul>
        </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AlbumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
