﻿@{
    ViewBag.Title = "Sales statistics";
}




@using (Html.BeginForm("Index","Sales",FormMethod.Get)) {
    @Html.AntiForgeryToken()
        <p>
        <div>Choose month</div>
        <input type="text" name="month" id="month"/>
        <div id="monthErrorMsg" class="field-validation-error" ></div>
    </p>
    <p>
        <div>Choose Year</div>
        <input type="text" name="year" id="year" />
        <div id="yearErrorMsg" class="field-validation-error"></div>
    </p>
    <p>
    <input type="submit" value="Review sales" id="submitButton"/>
    </p>
}

<h2>Sales statistics for @ViewBag.monthName @ViewBag.year</h2>

<div>
    <h3>Sales by Format</h3>
    <table>
        <tr>
            <th>Format</th>
            <th>Number of Sales</th>
        </tr>
        <tr class="tableRow"><td>Vinyl</td><td>@ViewBag.VinylSales</td></tr>
        <tr class="tableRow">
            <td>
                CD
            </td>
            <td>
                @ViewBag.CDSales
            </td>
        </tr>
    </table>
</div>

<div>
    <h3>Sales by Tags</h3>
    <table>
        <tr>
            <th>Tag</th>
            <th>Number of Sales</th>
        </tr>
        @{
            foreach (KeyValuePair<string, int> kv in ViewBag.SalesByTags)
        {
            <tr class="tableRow"><td>
              @kv.Key.ToString()  
            </td><td>
              @kv.Value.ToString()
            </td></tr>
        }
        }
    </table>
</div>

<div>
    <h3>Sales by Artist</h3>
    <table>
        <tr>
            <th>Artist</th>
            <th>Number of Sales</th>
        </tr>
        @{
            foreach (KeyValuePair<string, int> kv in ViewBag.SalesByArtist)
            {
                <tr class="tableRow">
                    <td>
                        @kv.Key.ToString()
                    </td>
                    <td>
                        @kv.Value.ToString()
                    </td>
                </tr>
            }
        }
    </table>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
    $("#month").on("change", function () {

        var mesVal = $("#month").val().toString();
        if (isNaN(mesVal)) {
            $("#monthErrorMsg").text("Not valid month number");
            $("#submitButton").attr("disabled", "disabled");
            return;

        }
        mesNum = parseInt(mesVal);

        if (mesNum < 1 || mesNum > 12) {
            $("#monthErrorMsg").text("Not valid month number");
            $("#submitButton").attr("disabled", "disabled");
            return;
        }

        $("#monthErrorMsg").text("");
        $("#submitButton").removeAttr("disabled");

    });


    $("#year").on("change", function () {

        var yearVal = $("#year").val().toString();
        if (isNaN(yearVal)) {
            $("#yearErrorMsg").text("Not valid year number");
            $("#submitButton").attr("disabled", "disabled");
            return;

        }
        yearNum = parseInt(yearVal);

        if (yearNum < 2000 || yearNum > (new Date).getFullYear()) {
            $("#yearErrorMsg").text("Not valid year number");
            $("#submitButton").attr("disabled", "disabled");
            return;
        }

        $("#yearErrorMsg").text("");
        $("#submitButton").removeAttr("disabled");

    });
</script>