﻿@{
    ViewBag.Title = @ViewBag.monthName + " "+ @ViewBag.year +" Sales statistics";
}

<h2>Sales statistics for @ViewBag.monthName @ViewBag.year</h2>

<div>
    <h3>Sales by Format</h3>
    <table>
        <tr>
            <th>Format</th>
            <th>Number of Sales</th>
        </tr>
        <tr class="tableRow"><td>Vinyl</td><td>@ViewBag.VinylSales</td></tr>
        <tr class="tableRow">
            <td>
                CD
            </td>
            <td>
                @ViewBag.CDSales
            </td>
        </tr>
    </table>
</div>

<div>
    <h3>Sales by Tags</h3>
    <table>
        <tr>
            <th>Tag</th>
            <th>Number of Sales</th>
        </tr>
        @{
            foreach (KeyValuePair<string, int> kv in ViewBag.SalesByTags)
            {
                <tr class="tableRow">
                    <td>
                        @kv.Key.ToString()
                    </td>
                    <td>
                        @kv.Value.ToString()
                    </td>
                </tr>
            }
        }
    </table>
</div>

<div>
    <h3>Sales by Artist</h3>
    <table>
        <tr>
            <th>Artist</th>
            <th>Number of Sales</th>
        </tr>
        @{
            foreach (KeyValuePair<string, int> kv in ViewBag.SalesByArtist)
            {
                <tr class="tableRow">
                    <td>
                        @kv.Key.ToString()
                    </td>
                    <td>
                        @kv.Value.ToString()
                    </td>
                </tr>
            }
        }
    </table>
</div>