﻿@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
    <p>Editora online com WebServices.</p>
        <p>Trabalho desenvolvido no ano lectivo 2014/2015 no âmbito de ARQSI</p>
    <p>Desenvolvido por Ruben Rosário e Pedro Valério</p>
    </p>
</article>