﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
        </div>
    </section>
}

@if (Request.IsAuthenticated) {
    @: <h3>You're now ready to start using our services ! Click on <a href="IDEIMusicService.svc">WebService</a> for more information.</h3>
}
else {
    @: <h3><a href="Account/Register">Register</a> or <a href="Account/Login">Login</a> to start using our services</h3>

}



