#recordsTable.th, #recordsTable.tr, #recordsTable.td, #recordsTable {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0;
}
#recordsTable td, th {
	padding: 5px;
}

.oddTR {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #aac0c9;
}

.evenTR
{
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #cde5ef;
}