ul.albumList {
  list-style-type: none;
  width: 500px;
}
 
h3.albumItem {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li.albumItem {
  margin: 0 15px 0 0;
  padding-bottom: 15px;
}
 
li.albumItem p.albumItem {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
li.albumItem {
  padding: 10px;
  overflow: auto;
}
 
li.albumItem:hover {
  background: #eee;
}

.tagLink {
    color: black;
    text-decoration:underline;
    font-weight:500;
    padding-right: 5px;
}
.tagLink:visited{
    color: black;
    text-decoration: underline;
    font-weight:500;
}

.menuLink{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000000;
    text-decoration: none;
    outline: medium none;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 1.3em;
    font-weight: 600;
    text-align: right;
    float: left;
}

.menuLink:hover {
    background-color: #d3d0ca;
}

.menuMessage {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000000;
    text-decoration: none;
    outline: medium none;
    padding-left: 3px;
    padding-right: 3px;
    float: right;
}

.divCatalogo {
    float: left;
}