/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/nov/2014, 13:51:55
    Author     : ruben
*/

.header{
    background-color: blue;
}

.header-left{
    left:0px;
}

.header-right{
    position: right;
}

.contentor{
    
    background-color: gainsboro;
    font: caption;
    font-family: monospace;
    font-size: larger;
    text-align: center;

}
.contentor_dados{
    background-color: highlight ;
    font-family: monospace;
    font-size: larger ;
    text-align: center;
}

.dados{
     margin-left: 450px;
     margin-right: 4500px;
     text-align: left;
}