/* 
    Created on : 27/nov/2014, 15:04:30
    Author     : ruben
*/

.header {
    background-color: #b3c0c8;
    color: #000000;
    height: 100px;
    text-align:center;
    padding:5px;
}

.mainHeader {
    font-weight: 400;
    font-size:large;
    font-weight: bold;
}
.auth{
    float: right;
    margin-top: 25px;
}

.menu {
    width: 100%;
    margin-top: 25px;
    float: right;

}

.search{
    float: left;
    margin-top: 25px;
}
.column-left {
    background-color: #eeeeee;
    height:300px;
    width:100px;
    float:right;
    padding:10px; 
}

.middle {
    line-height:30px;
    width:100%;
    float:left;
    padding:5px; 
}

.loginDiv {
    width: 50%;
    margin: 0 auto;
    align-content:center;

}


.footer {
    background-color:#b3c0c8;
    color:black;
    clear:both;
    text-align:center;
    padding:5px; 
}

.login{
    height: 250px;
    width: 250px;
    float: right;    
    margin-top: 10px;
    visibility: hidden; 
}


input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 150px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
}

input[type=submit] {
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 10px;
}

.buttonClass {
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 10px;
}

.linkButton {
    padding: 3px 3px;
    background: #cde5ef;
    color: #000000;
    float:right;
    vertical-align: top;
    text-decoration: none;
    border-radius: 5px;
}

.button {
    padding: 3px 3px;
    background: #cde5ef;
    color: #000000;
    vertical-align: top;
    text-decoration: none;
    border-radius: 5px;
}

.linkButton:hover {
    background: #dde5ef;
}