﻿@model IDEIMusic.Models.ClientShop
@{
    ViewBag.Title = "MyShop";
}

<h2>Your shop details</h2>

@RenderPage("ShopInformation.cshtml", Model)

<br />
<div>
    @Html.ActionLink("Edit your information", "SetInformation", "ClientShop", new { @class = "button-link" })
</div>