﻿@model IDEIMusic.Models.ClientShop

<fieldset>
    <legend>ClientShop</legend>

    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Address)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Address)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.City)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.City)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Country)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Country)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.PostalCode)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PostalCode)
        </div>
    </div>
</fieldset>