﻿@model IDEIMusic.Models.Record

@{
    ViewBag.Title = "Add a Record";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<h2>Add Record</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Record</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.Album.Artist, "Artist")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ArtistID", String.Empty)
            @Html.ValidationMessageFor(model => model.Album.ArtistID)
        </div>

        <div id="albumSelectDiv" hidden="hidden">
            <select name="AlbumID" id="AlbumID"></select>
            @Html.ActionLink("Add new album", "Create", "Album")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecordFormat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecordFormat)
            @Html.ValidationMessageFor(model => model.RecordFormat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $("#ArtistID").on('change', function () {
        if ($("#ArtistID").val().toString() != ""){
            var url = "AjaxGetAlbumsFromArtist/" + $("#ArtistID").val().toString();
            $.ajax({
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
        }
    }
    );

    function successFunc(data, status) {
        var ids = [];
        var titles = [];
        $("#albumSelectDiv").removeAttr("hidden");
        $("#AlbumID").empty();
        if (data.hasOwnProperty("ids") && data.hasOwnProperty("titles")) {
            if (data.ids.length > 0 
                && data.titles.length > 0 
                && data.titles.length == data.ids.length) {
                for (var i = 0; i < data.ids.length; i++) {
                    $("#AlbumID").append(new Option(data.titles[i], data.ids[i]));
                }
                
            }
        }
    }

    function errorFunc(data, status) {

    }
</script>
