﻿@model IDEIMusic.Models.Record

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Record</legend>

    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Album.Artist.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Album.Artist.Name)
        </div>
    </div>

    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Album.Title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Album.Title)
        </div>
    </div>

    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Price)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Price)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.RecordFormat)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RecordFormat)
        </div>
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
