﻿@model IDEIMusic.Models.Record

@{
    ViewBag.Title = "Record nr. " + Model.RecordID;
}

<h2>Record Details</h2>

<fieldset>
    <legend>Record</legend>

    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Album.Artist.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Album.Artist.Name)
        </div>
    </div>

    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Album.Title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Album.Title)
        </div>
    </div>

    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Price)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Price)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.RecordFormat)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RecordFormat)
        </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RecordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
