﻿@model IDEIMusic.Models.Record

@{
    ViewBag.Title = "Edit Record";
}

<h2>Edit Record</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Record</legend>

        @Html.HiddenFor(model => model.RecordID)

        @Html.HiddenFor(model => model.AlbumID)

        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Album.Artist.Name)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Album.Artist.Name)
            </div>
        </div>

        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Album.Title)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Album.Title)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecordFormat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecordFormat)
            @Html.ValidationMessageFor(model => model.RecordFormat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
