﻿@model IEnumerable<IDEIMusic.Models.Record>

@{
    ViewBag.Title = "Records";
}

<h2>Records</h2>

<p>
    @Html.ActionLink("Add new Record", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Album.Artist.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordFormat)
        </th>
        <th>
            Tags
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="tableRow">
            <td>
                @Html.ActionLink(item.Album.Artist.Name, "Details", "Artist", new { id = item.Album.Artist.ArtistID }, null)
            </td>
            <td>
                @Html.ActionLink(item.Album.Title, "Details", "Album", new { id = item.Album.AlbumID }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordFormat)
            </td>
            <td>
                @foreach (var t in item.Album.Tags)
                {
                    @Html.ActionLink(t.Text, "Details/" + t.TagID, "Tag")

                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RecordID }) |
                @Html.ActionLink("Details", "Details", new { id = item.RecordID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RecordID })
            </td>
        </tr>
    }

</table>
